html {
    font-size: 16px;
}

body {
    font-size: 1rem;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;

}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* was conteiner  
must be container*/
.container {
    max-width: 1114px;
    width: 95%;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Plumb';
}

.h1 {
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;

}

.h2, .h3 {
    font-weight: 500;
    letter-spacing: -0.01em;
}

.h2 {
    font-size: 30px;
}

.color-white {
    color: white;
}

.FirstScrean a, .side-menu a, .Footer a {
    color: white;

}

.font-size-14 {
    font-size: 14px;
}

.link-orange {

    color: orange !important;

}

/***************************************************/
.FirstScrean {
    min-height: 800px;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../bgc.png');
    background-attachment: fixed;
}

.header {
    width: 100%;
    min-height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid whitesmoke;

}

.header__menu {
    display: flex;
    grid-gap: 47px;

}

.header__right-bar {
    display: flex;
    grid-gap: 70px;
}

.header__lang-icon, .header__search-icon {
    display: block;
    width: 20px;
    height: 18px;

}

.header__lang {
    display: flex;
    align-items: baseline;

}

.header__lang-icon {
    margin-right: 11px;
    background-image: url('../Globe.svg');
}

.header__search-icon {

    background-image: url('../Search.svg');
}

.header__search {
    height: 30px;
    padding-left: 7px;
    background: transparent;
    border: 1px solid gray;
    display: none;

}

.main__head {
    margin-bottom: 35px;

}

.main__body {
    display: flex;
    justify-content: space-between;

}

.main__discription {
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 140%;
}

.main__info {
    display: grid;
    grid-template-columns: repeat(2, 255px);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
    padding-bottom: 53px;

}

.main__block-item {
    padding: 30px 40px;

}

.main__block-item_1 {
    background: #2378FC;

}

.main__block-item_2 {
    background: #30BCC9;
}

.main__block-item_3 {
    background: #FFC41E;
}

.main__block-item_4 {
    background: #F6404F;
}

.main__block-item .h4 {
    margin-bottom: 15px;
}

.link-more {
    position: relative;
}

.link-more-sm::after {
    position: absolute;
    content: url('../Arrow\ 1asd.svg');
    top: 0;
    right: -25px;
    width: 16px;
}

/**********************************/
.side-menu {
    min-height: 426px;
    background: #2378FC;
}

.side-menu__main {
    display: flex;
    justify-content: space-between;
}

.side-menu__title {
    margin-bottom: 30px;
}

.side-menu__list li {
    margin-bottom: 15px;
}

/**************************************************/
.Event {
    min-height: 984px;
    background: #FFC41E;
}

.News {
    min-height: 649px;
    background: #FAF3E3;
}

.Footer {
    min-height: 476px;
    background: #30BCC9;
}

.Events__body {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.Events__date {
    display: block;
    font-size: 14px;

}

.Events__title {
    color: red;
}

.Events__img {
    margin-bottom: 20px;

}

.Events__date, .Events__title, .Events__info {
    margin-bottom: 10px;
}

.text-underline {
    text-decoration: underline;
}

.link-more-md {
    position: relative;
    font-size: 21px;
    margin-right: 40px;

}

.link-more-md::after {
    position: absolute;
    content: url('../Arrow\ 1.svg');
    top: 2px;
    right: -40px;
    width: 25px;
}

.Events__head {
    display: flex;
    margin-bottom: 35px;
    justify-content: space-between;
}

.color-red {
    color: red;
}

.h3 {
    font-size: 21px;
}

.News__container, .news__head, .news_info {

    justify-content: space-between;

}

.news_info, .news__body, .news__main {

    flex-direction: column;

}

.news__main, .news__items, .news__body {


    gap: 30px;

}

.news__main, .news__head, .news__body, .news__items, .news_info, .News__container {
    display: flex;
}


.news__head, .news__items {


    align-items: center;
}


.news__data {
    display: block;
    margin-bottom: 14px;

}

.Footer__container {
    display: flex;
    justify-content: space-between;
}

.Footer p, .Footer a {
    font-size: 14px;

}

.Footer__title {
    margin-bottom: 20px;
}

.Footer__list:nth-of-type(1) {
    margin-bottom: 40px;

}

.Footer__list li {
    margin-bottom: 10px;
}

.Footer__apps li {
    margin-bottom: 16px;

}

.Footer__title-media {
    margin-bottom: 30px;
}

.Footer__social-media {
    margin-bottom: 50px;
}

.Footer__subscribes {
    margin-bottom: 15px;
}

.Footer__info {
    margin-bottom: 25px;
}

.Footer__form {
    display: flex;
}

.Footer__submit {
    padding: 12px 11px 10px;
    background: #F6404F
}

.Footer__email {
    width: 215px;
    font-size: 12px;
    padding-left: 20px;


}

.Footer__email::placeholder {
    color: grey;
}

.model-form {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(128, 128, 128, 0.575);

}

.login-form {
    position: relative;
    min-height: 250px;
    width: 300px;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 8px 8px 7px -1px black;
    background: rgba(44, 44, 197, 0.486);
    animation: anim-elem 0.3s 1;

}

@keyframes anim-elem {
    0% {
        opacity: 0;
    }
}

.login-form__input {
    margin-bottom: 30px;
    padding: 5px;
}

.btn {
    padding: 5px;
    background: rgba(128, 128, 128, 0.904);
}

.close {
    width: 25px;
    height: 25px;
    color: whitesmoke;
    background-color: red;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.close:hover {
    opacity: 0.6;
}

.close-model-form {
    position: absolute;
    top: 5px;
    right: 5px;
}
.d-none{
    display: none;
}